{% extends "base.html" %}
{% load tools %}
{% block extratitle %}CPermanentes{% endblock %}

{%block contenido%}

<div>
	<table class="tabla-resultados">
	<caption>Hombres cultivos permanentes</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Manzanas</th>
			<th>Producción</th>
			<th>Productividad</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in c_permanente_m.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>
<br><br>
<div>
	<table class="tabla-resultados">
	<caption>Mujeres cultivos permanentes</caption>
	<thead>
		<tr>
			<th>cultivos</th>
			<th>Manzanas</th>
			<th>Producción</th>
			<th>Productividad</th>
		</tr>
	</thead>
		<tbody>
			{% for k,v in c_permanente_h.items %}
			<tr>
				<td>{{k}}</td> 
				{% for valor in v %}
					<td>{{valor|floatformat}}</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
	<div id="grafo" class="grafo"></div>
</div>



{%endblock%}