{% extends "base.html" %}
{% block extratitle %}Home{% endblock %}

{% block banner %}
<div class="banner">
        <div class="wrapper">
                <div class="intro">
                    <div class="title">
                        Sistema de monitoreo
                    </div><br><br>
                    <div class="desc">
Para aprender sobre el estado actual de las familias participantes del proyecto, año con año se entrevistan con un número representativo de las familias que viven en las comunidades donde los proyectos desarrollan su accionar. Se utiliza una encuesta para recolectar y reconstruir la información suministrada por las familias sobre acceso y uso de tierra, las actividades productivas y la producción, el procesamiento y venta de productos agropecuarios. <br><br>También se recolecta información sobre los ingresos familiares y la seguridad alimentaria de las familias. Con los datos se construyen salidas sobre los temas priorizados tomando en cuenta los indicadores relacionados con desarrollo productivo, sostenible y equitativo de las comunidades y pueblos. <br><br>La información recolectada y conocimiento construida de esta manera ayuda a aprender sobre las realidades y debatir sobre las estrategias y acciones para enfrentar los retos. 
                    </div>
                </div>
                <div class="salidas">
<img src="{{MEDIA_URL}}img/foto.png">
                <div class="sistemadesc">
                    <center>
                    <a href="/consultarsimple" class="btn btn-large btn-warning"><i class="icon-search icon-white"></i>
 Consulta simple</a>
                    <a href="/consultar/" class="btn btn-large btn-warning"><i class="icon-th icon-white"></i>
Consulta avanzada</a>
                    </center>
                </div>
                </div>
                <div class="clean"></div>
                <center>
                    <br>

                </center>
                <div class="clean"></div>
        </div>
</div>
{% endblock %}

{% block contenido %}

{% endblock %}
